@media all and (max-width: 600px) {


    #status-area {
        width: 325px;
        height: fit-content;
    }

    .pokedex {
        width: 300px;
        height: fit-content;
        flex-direction: column-reverse;
    }

    /* Left Side */

    .left-side {
        width: 300px;
        height: 125px;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
    }

    /* Above */

    .above {
        width: 75px;
        height: 90%;
        flex-direction: column;
        border: 0;
        margin: 0;
    }

    .cam-contain {
        width: auto;
        height: 41px;
    }

    .cam {
        width: 25px;
        height: 25px;
        border: 2px solid white;
        margin: 0;
    }

    .cam-reflection {
        width: 8px;
        height: 8px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .leds {
        width: 33px;
        height: 40px;
    }

    .led-r {
        width: 6px;
        height: 6px;
    }

    .led-y {
        width: 6px;
        height: 6px;
    }

    .led-g {
        width: 6px;
        height: 6px;
    }

    .back-button {
        width: 45px;
        height: 45px;
    }

    .off-button {
        width: 40px;
        cursor: pointer;
    }

    /* Center */

    .center {
        display: none;
    }

    /* Below */

    .below {
        width: 200px;
        height: 95%;
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
    }

    .left-circle-button {
        display: none;
    }

    .center-contain {
        width: 85%;
        height: 100%;
        justify-content: center;
    }

    .button-contain {
        width: 90%;
        height: 16px;
    }

    .left-line-button {
        width: 25px;
        height: 5px;
    }

    .right-line-button {
        width: 25px;
        height: 5px;
    }

    .green-display {
        width: 150px;
        height: 65px;
    }

    #pokemonGDName {
        font-size: 20px;
    }

    #control-pad-image {
        height: 35%;
        position: absolute;
        left: 65px;
        top: 40px;
    }

    .right-control-pad {
        width: 58px;
    }

    .arrow-left {
        width: 16px;
        height: 11px;
        top: 33px;
    }

    .arrow-right {
        width: 16px;
        height: 11px;
        top: 33px;
    }

    /* Right Side */

    #right-side {
        width: 300px;
        height: 425px;
        border-left: 2px solid black;
    }

    .pixel-image-ID {
        height: 50px;
        margin: 0;
    }

    .pixel-image {
        height: 45px;
    }

    .pokedex-pokemon-name {
        font-size: 25px;
    }

    .pokedex-poke-id {
        font-size: 30px;
    }

    canvas {
        width: 250px !important;
        height: 250px !important;
        margin: 0px;
    }
    
    .playable-skills {
        height: 33px;
    }

    .playable, .skills {
        min-width: 125px;
        height: 25px;
        font-size: 11px;
    }

    .belowContainer {
        height: 100px;
        align-items: flex-start;
        overflow: scroll auto;
    }

    #lowerContain {
        max-height: 100px;
    }

    .playable-edition {
        min-width: 65px;
        height: 12px;
        font-size: 10px;
    }

    #evolutions {
        height: fit-content;
        align-items: flex-start;
    }

    .evolution {
        width: 65px;
        margin-bottom: -8px;
    }

    .evo-arrow-contain {
        height: 100px;
    }

    .evo-arrow {
        width: 20px;
    }

    .eevees-evos {
        width: 275px;
        overflow: scroll;
    }

    .poke-evo-name {
        font-size: 12px;
    }
}