@media all and (max-width: 600px) {


    #status-area {
        width: 516px;
        height: fit-content;
    }

    .pokedex {
        width: 500px;
        height: fit-content;
        flex-direction: column-reverse;
    }

    /* Left Side */

    .left-side {
        width: 450px;
        height: 250px;
        flex-direction: row;
        justify-content: center;
    }

    /* Above */

    .above {
        width: 41px;
        height: 80%;
        flex-direction: column-reverse;
        border: 0;
        margin: 0;
    }

    .cam-contain {
        width: auto;
        height: 41px;
        transform: rotate(270deg);
    }

    .cam {
        width: 25px;
        height: 25px;
        border: 2px solid white;
    }

    .cam-reflection {
        width: 8px;
        height: 8px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .leds {
        width: 33px;
        height: 40px;
    }

    .led-r {
        width: 6px;
        height: 6px;
    }

    .led-y {
        width: 6px;
        height: 6px;
    }

    .led-g {
        width: 6px;
        height: 6px;
    }

    .back-button {
        width: 45px;
        height: 45px;
    }

    .off-button {
        width: 40px;
        cursor: pointer;
    }

    /* Center */

    .center {
        width: 275px;
        height: 100%;
    }

    .display-border {
        width: 218px;
        height: 183px;
        border-radius: 15px 15px 15px 35px;
    }

    .display-leds {
        width: 33px;
        height: 13px;
    }

    .display-led {
        width: 6px;
        height: 6px;
    }

    #display {
        width: 150px;
        height: 150px;
    }

    .selectet-pokemon {
        width: 133px;
    }

    .display-below {
        width: 65%;
        height: 20px;
    }

    .display-below-led {
        width: 10px;
        height: 10px;
    }

    .display-speaker {
        width: 16px;
    }

    /* Below */

    .below {
        width: 120px;
        height: 90%;
        flex-direction: column;
        margin: 0;
    }

    .left-circle-button {
        width: 16px;
        height: 16px;
        border: 1px solid rgb(0, 0, 0);
    }

    .center-contain {
        width: 95%;
        height: 50%;
        justify-content: center;
    }

    .button-contain {
        width: 90%;
        height: 16px;
    }

    .left-line-button {
        width: 25px;
        height: 5px;
    }

    .right-line-button {
        width: 25px;
        height: 5px;
    }

    .green-display {
        width: 95%;
        height: 65px;
    }

    #pokemonGDName {
        font-size: 20px;
    }

    #control-pad-image {
        height: 35%;
    }

    .right-control-pad {
        width: 58px;
    }

    .arrow-left {
        width: 16px;
        height: 11px;
        top: 33px;
    }

    .arrow-right {
        width: 16px;
        height: 11px;
        top: 33px;
    }

    /* Right Side */

    #right-side {
        width: 450px;
        height: 500px;
        border-left: 2px solid black;
    }

    .pixel-image-ID {
        height: 50px;
    }

    .pixel-image {
        height: 45px;
    }

    .pokedex-pokemon-name {
        font-size: 25px;
    }

    .pokedex-poke-id {
        font-size: 30px;
    }

    canvas {
        width: 250px !important;
        height: 250px !important;
        transform: scale(0.9);
        margin-top: 10px;
    }
    
    .playable-skills {
        height: 33px;
        margin-top: -15px;
    }

    .playable, .skills {
        min-width: 125px;
        height: 25px;
        font-size: 15px;
    }

    .belowContainer {
        height: 155px;
        align-items: flex-start;
        overflow: scroll;
    }

    .close-btn {
        width: 9px;
        height: 8.5px;
        font-size: 9px;
    }

    #lowerContain {
        max-height: 82px;
        background-color: blueviolet;
    }

    .playable-edition {
        min-width: 65px;
        height: 12px;
        font-size: 8px;
    }

    #evolutions {
        height: fit-content;
        align-items: flex-start;
    }

    .evolution {
        width: 85px;
        margin-bottom: -8px;
    }

    .evo-arrow-contain {
        height: 100px;
    }

    .evo-arrow {
        width: 25px;
    }

    .eevees-evos {
        width: 275px;
        overflow: scroll;
    }

    .poke-evo-name {
        font-size: 18px;
    }
}