@media all and (max-width: 600px) {
    ::-webkit-scrollbar {
        background-color: #ffffff00;
        width: 0px;
        height: 0px;
    }
    
    /* Navigation Interface */

    #pokedex-BG {
        flex-direction: column;
        align-items: center;
    }

    #navinterface {
        width: 325px;
        height: 230px;
        margin-left: 0px;
        border-radius: 0px 0px 35px 35px;
    }

    .searcharea {
        height: 230px;
    }

    .pokedex-title1, .pokedex-title2 {
        font-size: 35px;
    }

    .pokedex-title2 {
        left: 12px;
    }

    .searchtext {
        font-size: 20px;
    }

    .search-input {
        height: 35px;
    }

    #searchfild {
        height: 33px;
        font-size: 17px;
    }

    #search-icon {
        width: 30px;
    }

    .info-BTN {
        width: 35px;
    }

    .infoFild {
        top: -140px;
        right: 0;
    }

    #responsive-btn-contain {
        display: flex;
    }

    /* Button Area */

    .button-area {
        width: 95%;
        height: 300px;
        display: none;
        position: fixed;
        top: 230px;
        border-radius: 15px;
        background-color: #FFFFFF;
        overflow: scroll;
        z-index: 99;
        margin: 0;
    }

    .warning {
        display: none;
    }

    /* Pokedex Main-Area */

    .pokedex-main-area {
        width: 100%;
        height: calc(100vh - 230px);
    }

    #pokemonArea {
        height: fit-content;
    }

    .pokemon-card {
        width: 150px;
        height: 110px;
    }

    .name-id {
        font-size: 17px;
    }

    .title {
        display: none;
    }

    .message-board {
        height: fit-content;
        flex-direction: column;
    }

    #pokemonInArea, #onloading, .infoArea {
        width: 95%;
    }

    /* Dark and Light Mode */
    
    .dark-light-mode {
        position: inherit;
    }
}