#pokedex-BG {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: right top;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Navigation-Bar */

.navinterface {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(245, 245, 245);
    margin-left: 25px;
}

.searcharea {
    width: 95%;
    height: 30%;
    background-image: url(../img/bg-darker-red.png);
    background-size: cover;
    background-position-x: 470px;
    border-radius: 0px 0px 35px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 25px;
    position: relative;
}

.pokedex-title1 {
    width: 93%;
    font-family: 'pokemon_solidnormal';
    font-size: 60px;
    text-align: center;
    background-color: yellow;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 0;
}

.pokedex-title2 {
    width: 93%;
    font-family: 'pokemon_hollownormal';
    font-size: 60px;
    text-align: center;
    background-color: blue;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    position: absolute;
    left: 13px;
    margin-bottom: 0;
}

.searchtext {
    font-size: 30px;
    font-weight: 600;
    color: antiquewhite;
    margin-bottom: 15px;
}

.search-input {
    width: 95%;
    height: 52px;
    border-radius: 25px;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchfild {
    width: 80%;
    height: 50px;
    border-radius: 25px;
    border: 0;
    font-size: 20px;
    outline: 0;
    resize: none;
}

.search-icon {
    width: 40px;
    cursor: pointer;
}

/* Dark and Light Mode */

.dark-light-mode {
    position: absolute;
    right: 15px;
    top: 15px;
}

.btn-container {
    width: 55px;
    height: 25px;
    background-color: black;
    display: flex;
    position: relative;
    border: 1px solid #111;
    margin-right: 20px;
    border-color: #fff;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: -1px 3px 22px 0px rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

i {
  color: #93b9e8;
  font-size: 25px;
  transition: all 300ms ease;
}

.active {
  transform: translateX(31px) rotate(350deg);
  color: #fff;
}

.changeBg {
  background-color: #111;
  border-color: #111;
  box-shadow: -1px 3px 22px 0px rgba(255, 255, 255, 0.75);
}