/* Pokedex status Area */

.pokemonStats {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    background-size: cover;
    background-position: right top;
    justify-content: center;
    align-items: center;
}

#status-area {
    width: 1550px;
    height: 1025px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex {
    width: 1500px;
    height: 975px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Left Side */

.left-side {
    width: 750px;
    height: 975px;
    background-color: #f14343;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Above */

.above {
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-top: 8px;
}

.cam-contain {
    width: auto;
    height: 125px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cam {
    width: 75px;
    height: 75px;
    border: 5px solid white;
    border-radius: 100px;
    background-color: #7BC1E5;
    margin-left: 20px;
}

.cam-reflection {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: #aec8d5;
    margin-top: 15px;
    margin-left: 15px;
}

.leds {
    width: 100px;
    height: 120px;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.led-r {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100px;
    background-color: #c11717;
}

.led-y {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100px;
    background-color: #eeff00;
}

.led-g {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100px;
    background-color: #19af1c;
}

.back-button {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.off-button {
    width: 75px;
    cursor: pointer;
}

/* Center */

.center {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-border {
    width: 650px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px 15px 15px 75px;
    background-color: rgb(176, 176, 176);
}

.display-leds {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-led {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100px;
    background-color: #c11717;
}

#display {
    width: 450px;
    height: 450px;
    background-color: #9bcee8;
    background-image: url(../img/pokeball-display.png);
    background-size: cover;
    background-position: center;
    border: 3px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectet-pokemon {
    width: 400px;
}

.display-below {
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-below-led {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100px;
    background-color: #c11717;
}

.display-speaker {
    width: 50px;
}

/* Below */

.below {
    width: 90%;
    height: 200px;
    margin-top: -40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-circle-button {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
    background-color: #1b1717;
}

.center-contain {
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button-contain {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-line-button {
    width: 75px;
    height: 15px;
    background-color: #1b1717;
    border-radius: 100px;
}

.right-line-button {
    width: 75px;
    height: 15px;
    background-color: aqua;
    border-radius: 100px;
}

.green-display {
    width: 95%;
    height: 125px;
    background-color: #21922b;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemonGDName {
    display: block;
    font-size: 35px;
    font-weight: 700;
    color: #ffdd00;
    overflow: hidden;
    width: 0;
    white-space: nowrap;
    text-transform: capitalize;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

#control-pad-image {
    width: auto;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-control-pad {
    width: 175px;
}

.arrow-left {
    width: 50px;
    height: 35px;
    position: absolute;
    top: 82px;
    left: 5px;
    cursor: pointer;
}

.arrow-right {
    width: 50px;
    height: 35px;
    position: absolute;
    top: 82px;
    right: 5px;
    cursor: pointer;
}

/* Right Side */

#right-side {
    width: 750px;
    height: 975px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(123, 194, 229, 0.3);
    border: 1px solid black;
    border-left: 4px solid black;
    border-radius: 15px;
}

.pixel-image-ID {
    width: 80%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-top: 8px;
}

.pixel-image {
    height: 100px;
}

.pokedex-pokemon-name {
    max-width: 350px;
    font-size: 35px;
    font-weight: 800;
    color: #1b1717;
    text-transform: capitalize;
}

.pokedex-poke-id {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.35);
    font-weight: 800;
}

canvas {
    width: 450px !important;
    height: 450px !important;
    display: block;
    margin: 0 auto;
}

.playable-skills {
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.playable, .skills {
    min-width: 200px;
    height: 35px;
    font-size: 15px;
    font-weight: 800;
    text-decoration: underline;
    color: cadetblue;
    background-color: aliceblue;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    text-transform: capitalize;
}

.belowContainer {
    width: 100%;
    height: 285px;
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-contain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    background-color: #d7edf7;
}

.close-btn {
    width: 26px;
    height: 25px;
    background-color: rgba(123, 194, 229, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: -30px;
    right: 6px;
    border: 0;
    cursor: pointer;
}

#lowerContain {
    width: 100%;
    max-height: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    overflow-x: scroll;
    -ms-overflowstyle: none;
    scrollbar-width: none;
}

#lowerContain::-webkit-scrollbar {
    width: 0;
}

.playable-edition {
    min-width: 140px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: 700;
    background-color: #0088ff8f;
    border-radius: 15px;
    margin: 2px;
    text-transform: capitalize;
}

#evolutions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.evolution {
    width: 125px;
}

.evo-arrow-contain {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.evo-arrow {
    width: 40px;
}

.eevees-evos {
    width: 600px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.evo {
    width: fit-content;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poke-evo-name {
    font-family: 'Source Sans Pro';
    font-weight: 800;
    font-size: 20px;
    text-transform: capitalize;
}